.content-table {
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #000;
    width: 50%;
}

th,
td {
    width: 25%;
    text-align: left;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
}

th{
    font-weight: bold
}

.b1{
    background-color: #e7e7e7; color: black;
    border-radius: 12px;
}

.acciones{
    cursor: pointer;
}

h1{
    text-align: center;
}

.boton2{
    background-color: #008CBA;
    color: white;
    border-radius: 8px;
}

.general{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Listado{
    display: flex;
    justify-content: center;
}