<h1>POKEMON</h1>
<br>
<div>
    <form>
        <label>Nombre: </label>
        <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text">
        <br>
        <label>Imagen</label>
        <img src="{{image}}" width="100" height="100">
        <br>
        <label>Ataque: </label>
        <input [(ngModel)]="attack" [ngModelOptions]="{standalone: true}">
        <br>
        <label>Defensa: </label>
        <input [(ngModel)]="defense" [ngModelOptions]="{standalone: true}">
    </form>

    <button routerLink="" (click)="updatePokemon()">
        Actualizar
    </button>
</div>
